<div class="slice" id="slice-<%= slice.id %>">
  <h3 class="name">
    <%= link_to slice.name, url(:slice, slice) %>
  </h3>
  <div class="meta">
    <div class="source">
      <%= link_to "source", slice.source %>
    </div>
    &middot;
    <div class="timestamps">
      Updated: <%= slice.last_commit_at.strftime("%Y-%m-%d %H:%I:%S") %>
    </div>
  </div>
  <div class="description">
    <p>
      <%= h slice.description %>
    </p>
  </div>
</div>
